block params
	- footerMod = false

doctype html
html
	head
		meta(charset="UTF-8")
		meta(content="width=device-width, minimum-scale=1, maximum-scale=1", name="viewport")
		meta(name="theme-color" content="#2a588d")

	body
		h1 Hello world!
		block root
			!= content

		block fonts
		block scripts
		block analytics
